 /* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* common styles */
body {
    font-family: 'Poppins', sans-serif;
    color: #805555;
    margin: 0px;
    padding: 0px;
}

/* header styles */
header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: flex-start;
}
nav {
    margin-top: 87px;
    font-size: 18px;
}
.heading-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: flex-start;
    align-items: center;
    gap: 167px;
}
.heading {
    width: 582px;
    height: 270px;
    font-size: 22px;
}
.heading button {
    background-color: #da3c76;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    padding: 9px 25px;
}
.heading button a {
    text-decoration: none;
    color: white;
    margin-right: 10px;

}
.heading-image {
    width: 440px;
    height: 414px;

}
.heading-image img{
    width: 100%;
}
hr {
    border: 1px solid #D1D1D1;
    width: 1000px;
    margin-top: 100px;
    margin-bottom: 100px;
}

/* Products Styles */
main {
display: flex;
flex-direction: column;
align-items: center;
}
.products {
    margin-bottom: 30px;
    font-size: 28px;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;

}
.item {
    display: flex;
    flex-direction: column;
    width: 329px;
    height: 476px;
    padding-top: 15px;
    padding-bottom: 25px;
    padding-left: 15px;
    box-shadow: 1px 1px 20px -10px gray, -2px -2px 10px -10px gray;
    border-radius: 5px;
}
.name {
    color: rgb(32, 32, 32);
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    opacity: .9;
}
.price {
    font-size: 30px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(32, 32, 32);
    opacity: .9;
}
.rating {
    display: flex;
    justify-content: space-between;

}
.fas.fa-star.yellow {
    color: #FB8200;
}
.fas.fa-star.empty {
    color: #AEAEAE;
}
.see-more-button {
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    left: 490px;
    text-decoration: none;
    color: #da3c76;

}

/* address styles */
.address {
    background-color: rgba(245, 245, 245, 0.815);;
    font-family: Arial, Helvetica, sans-serif;

}
.address-heading {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 60px;
}
.address-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 80px;
}
.shop {
    width: 265px;
    height: 150px;
}
.shop a {
    text-decoration: none;
    color: #da3c76;
}

/* footer styles */
.footer-body {
    background-color: rgb(0, 0, 2);
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer-info {
    width: 262px;
    height: 139px;
    color: white;
    opacity: 0.8;
    text-align: center;

}
.copyright {
    font-family: arial;
}

.footer-info li {
    display: inline;
    list-style: none;
}
li .fab {
    font-size: 20px;
    padding-right: 10px;
    color: white;
}

